body {
     background-color: rgb(42, 44, 47);
     color:whitesmoke;
     text-align: center;
     display: block;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header,footer {
    display: flex;
    justify-content: space-between;
}
.first{
    max-width: 1000px;
    height: 600px;
}
.middle{
    display: block;
    text-align: left;
    line-height: 30px;
}
.caption{
    font-size: 20px;
    text-align: right;
    line-height: 200%;
}
section{
    display: block;
    margin: auto;
}
h2{
    font-size: 50px;
    font-weight: 50px;
    line-height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 20px;
}
h5{
    line-height: 20px;
}
figure{
    text-align: left;
}
ul{
    display: inline-flex;
    justify-items: right;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 5px;
    flex-basis: 10%;
}
.HISTORIC{
    background-image: url(IMG-20200515-WA0098.jpg);
    height: 700px;
    width: 1300px;
    color: rgb(255, 255, 255);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    text-decoration: none;
    z-index: 0;
    margin: auto;
}
.places {
    height: 340px;
    max-width: 340px;
}
.sub-images{
    max-width: 300px;
    height: 150px;
    margin-top: 8px;
  vertical-align: middle;
}
h1{
    font-size: 70px;
    font-weight: 30px;
}
.port {
    font-size: 100px;
    font-weight: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
